In [1]:
import numpy as np
import pandas as pd

column_names = ["Sample code number", "Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape"
                , "Marginal Adhension", "Single Epithelial Cell Size", "Bare Nuclei", "Bland Chromatin", "Normal Nucleoli"
                , "Mitoses", "Class"]
print("size of column_names:", len(column_names)) # data[0]:编号；data[10]:class; data[1:10]:feature

data = pd.read_csv("./Datasets/Breast_Cancer/breast-cancer-wisconsin.data"
                   , names=column_names)

data.head()
# data

size of column_names: 11

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhension,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [2]:
print("before drop, shape is:", data.shape)
data = data.replace("?", value=np.nan)
data = data.dropna(how='any')
print("after drop, shape is:", data.shape)
data.head()

before drop, shape is: (699, 11)
after drop, shape is: (683, 11)

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhension,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [3]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data[column_names[1:10]], data[column_names[10]], test_size=0.25, random_state=33)

print("y_train:\n", y_train.value_counts())
print("y_test:\n",y_test.value_counts())

y_train:
 2    344
4    168
Name: Class, dtype: int64
y_test:
 2    100
4     71
Name: Class, dtype: int64

In [4]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
x_train = ss.fit_transform(x_train)  # fit + transform
x_test = ss.transform(x_test)

/opt/app/conda/lib/python3.6/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/opt/app/conda/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/opt/app/conda/lib/python3.6/site-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  """

In [7]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(x_train, y_train)
lr_y_predict = lr.predict(x_test)

/opt/app/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [5]:
from sklearn.linear_model import SGDClassifier

sgdc = SGDClassifier()
sgdc.fit(x_train, y_train)
sgdc_y_predict = sgdc.predict(x_test)

/opt/app/conda/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:144: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

In [8]:
from sklearn.metrics import classification_report

print("Accuracy of LR Classifier:", lr.score(x_test, y_test))
print(classification_report(y_test, lr_y_predict, target_names=["Benign","Malignant"]))

print("-------------------------------------------------------------------")

print("Accuracy of SGD Classifier:", sgdc.score(x_test, y_test))
print(classification_report(y_test, sgdc_y_predict, target_names=["Benign","Malignant"]))

Accuracy of LR Classifier: 0.9883040935672515
              precision    recall  f1-score   support

      Benign       0.99      0.99      0.99       100
   Malignant       0.99      0.99      0.99        71

   micro avg       0.99      0.99      0.99       171
   macro avg       0.99      0.99      0.99       171
weighted avg       0.99      0.99      0.99       171

-------------------------------------------------------------------
Accuracy of SGD Classifier: 0.9824561403508771
              precision    recall  f1-score   support

      Benign       0.99      0.98      0.98       100
   Malignant       0.97      0.99      0.98        71

   micro avg       0.98      0.98      0.98       171
   macro avg       0.98      0.98      0.98       171
weighted avg       0.98      0.98      0.98       171